/* Banner.css */

.banner {
    width:100%;
    overflow: hidden;
}
.banner__video {
    width:100%;
}
.banner__container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.banner__video{
    
}
.iframe-container{
    grid-row: 1/5;
    grid-column: 1/1;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
.banner__content {
    width: 60%;
    grid-row: 2/4; /* Adjust the grid row to take up two rows */
    grid-column: 1/2; /* Adjust the grid column to take up the first column */
    z-index: 100;
    color: white;
    margin-left: 8%;
    animation: moveItem 3s 11s forwards;
}

.banner__title {
    font-size: 5vw;
    color: var(--color-primary,rgb(218, 4, 93));
    font-weight: 700;
}

.banner__description {
    font-size: 2vw;
    max-height: 6rem;
    overflow: hidden; /* Hide any content that overflows the element */
    animation: vidDescAnim 2s 10s forwards;
}

.banner__buttons {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap; 
}

.banner__button {
    pointer-events: none;
    background-color: black;
    height: 4.5vw;
    width: 4.5vw;
    border: none;
    margin-right: 1vw;
    color: white;
    transition: transform 2s ease-in-out;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    font-size: 2vw;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 50%;
}
.banner__button a{
    text-decoration: none;
}
.banner__buttons .moreDetailsBtn {
    width: max(7rem, 8vw);
    border-radius: 20%;
}

.banner__buttons .watchListBtn,
.banner__buttons .playBtn {
    border-radius: 50%;
    pointer-events: all;
}

.banner__buttons .watchListBtn:hover,
.banner__buttons .playBtn:hover,
.banner__buttons .moreDetailsBtn:hover {
    scale: 1.2;  
}
.banner__buttons  a {
    text-decoration: none;
}

.banner__buttons .watchListBtn:active,
.banner__buttons .playBtn:active,
.banner__buttons .moreDetailsBtn:active {
    scale: 0.8;
}


@keyframes vidDescAnim{
    0% {
        opacity: 1;
        max-height: 6rem;
    }
    50%{
        opacity: 1;
        max-height: 6rem;
    }
    100%{
        opacity: 0;
        max-height: 0;
        visibility: hidden;
    }
}
@keyframes moveItem {
    from {
      transform: translateX(0) translateY(0);
    }
    to {
      transform: translateX(0) translateY(80%);
    }
}
