/* CSS */
.card {
    display: grid;
    grid-template-rows: max-content max-content;
    position: relative;
    border: 0.5rem solid transparent;
}
.card a{
    display: grid;
    align-self: center;
}
.card__content {
    position: absolute;
    z-index: 10;
    color: var(--color-primary,rgb(218, 4, 93));
    font-size:2rem;
    font-weight: 800;
    display: grid;
    align-self: center;
    margin-left: 10%;
    pointer-events: none;
}

.card__buttons {
    display: flex;
    font-size: 3rem;
    margin-top: 5%;
    pointer-events: all;
}

.card__button{
   pointer-events: all;
   height:4.5rem;
   width: 4.5rem;
   background-color: black;
   border-radius: 50%;
   display: grid; 
   align-items: center;
   justify-content: center;
}
.card__buttons .playBtn,.card__buttons .watchListBtn {
    font-size: 4rem;
}
.card__image {
    position: relative;
    z-index: 11;
    width: 24rem;
}
  
.card__video {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 24rem;
    display: grid;
    align-self: center;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}

.card:hover {
    border: 0.5rem solid var(--color-primary,rgb(218, 4, 93));
  }
.card:hover .card__image {
    visibility: hidden;
  }
.card:hover .card__video {
    width: 30rem;
}

.progress-bar {
    height: 0.5rem;
    width: 100%;
    background-color: #232526;
}
.progress-bar__bar{
    background-color: var(--color-primary,rgb(218, 4, 93));
}

@media screen and (max-width: 768px){
    .card__image {
        width: 15rem;
    }
    .card:hover .card__image {
        visibility: visible;
    }
}

