.row {
    display: grid;
  }
.catagoryTitle {
  font-size: 2rem;
  font-weight: 800;
  margin: 1rem 1rem;
  color: white;
}
.catagoryTitle:hover {
  animation: colorAnim 2s infinite;
}
.catagoryTitle::after{
  content: 'EXPLORE MORE >>>';
  opacity: 0;
  transform: translateX(-100%);
  font-size: 1rem;
  position: absolute;
  margin-top: 0.6rem;
  visibility: hidden;
  animation: colorAnim 2s infinite;
  z-index: -1;
  transition: 0.4s linear;
}
.catagoryTitle:hover::after{
  visibility: visible;
  transform: translateX(20%);
  opacity: 1;
}
.row__cards {
    grid-row: 1/2; /* Cards will be in the first (and only) row */
    grid-column: 1/2; /* Cards will occupy the first column */
    width: 100%;
    display: flex;
    overflow-x:scroll;

  }
  
.row__cards::-webkit-scrollbar {
    display: none; /* For webkit-based browsers like Chrome and Safari */
    width: 0; /* For IE */
    background: transparent; /* For Firefox */
  }
  
.row__buttons {
    pointer-events: none;
    height: 100%;
    grid-row: 1/2; /* Buttons will be in the first (and only) row */
    grid-column: 1/2; /* Buttons will occupy the first column */
    align-self: center;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}
  
.row__button {
    pointer-events: visible;
    height: 100%; 
    background-color: rgb(0, 0, 0,0.75);
    color: white;
    opacity: 0;
}
.row__button:hover{
    opacity: 1;
}


  