.nav {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    z-index: 100;
    position: fixed;
}
.nav__black{
    background-color: black;
}
.nav__heading{
    position: fixed;
    left: 0;
    color: var(--color-primary,rgb(218, 4, 93));
    font-size: 2rem;
    font-weight: 500;
    margin: 2rem;
}
.nav button{
    position: fixed;
    right: 0;
    padding: 1rem;
    margin: 1.5rem;
    background-color: var(--color-primary,rgb(218, 4, 93));
    color:white;
    font-weight: 700;
}